*{
    font-family: "Calibri";
}
body{
    text-align: center;
    margin: auto;
}
body p{
    color: #4c924c;
    display: flex;
    flex-direction: column;
}
#cabecera{
    color: #ffffff;
    background-color: blue;
    padding: 10px;
    font-size: 20px;
}