*{
    font-family: "Calibri";
}
body{
    text-align: center;
    margin: auto;
}
body p{
    color: #4c924c;
    display: flex;
    flex-direction: column;
}
#cabecera{
    color: #1100f3;
    font-size: 20px;
}